### Importing libraries

In [2]:
# Importing pandas, numpy and os libraries
import pandas as pd
import numpy as np
import os

### Importing data

In [3]:
# Turning project folder path into a string
path = r'C:\Users\niels\Documents\Master Folder - Instacart Basket Analysis 09.10

# Importing 'orders_products_combined.csv'
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### Task

In [4]:
# Checking columns of orders_products_combined.pkl
orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [5]:
# Checking shape of orders_products_combined.pkl
orders_products_combined.shape

(32434489, 10)

In [6]:
# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'))

In [7]:
# Checking columns of products data frame
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Checking shape of products data frame
df_prods.shape

(49672, 6)

In [9]:
# Removing '_merge' column 
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [ ]:
# Merging products and orders data frames
df_orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [10]:
# Displaying Columns of merged orders and products data frame 
df_orders_products_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [11]:
# Checking merge flag of merged data frame
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
# Checking shape of merged data frame
df_orders_products_merged.shape

(32404859, 15)

In [13]:
# Export data to pkl
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))